.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
src/**
assets/screenshots/**
beta/**
ToDo.txt
*.vsix
*.zip
node_modules/**
