.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
src/**
assets/project-version-screenshot.png
beta/**
ToDo.txt
*.vsix
*.zip
